* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    background-color: rgb(44, 44, 44);
    background-image: url(img/tile-grid.png);
    background-size: 128px;

    color: pink;
    font-family: "Lexend";
    font-size: 1.5rem;
    text-align: center;
}

header {
    background-color: rgb(39, 39, 39);
    padding: 1rem 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

header img {
    border: none;
    max-width: 50px;
    padding: 0;
    margin: 0;
}

h1, h2 {
    color: rgb(255, 163, 255);
    margin-bottom: 1rem;
}

img {
    margin-top: 1rem;
    max-width: 500px;
    border-radius: 16px;
    border: 8px solid pink;
}

a {
    color: rgb(255, 163, 255);
    text-decoration: underline;
}

a:hover {
    color: rgb(255, 116, 255);;
}

.conteudo {
    margin-bottom: 1rem;
}

.conteudo p {
    margin: 0 auto;
    max-width: 80rem;
}

.escolha {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vs {
    font-size: 3rem;
    font-weight: 700;
}

.escolhas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform ease-in-out 0.2s;
}

.escolhas:hover {
    transform: scale(1.1);
}

.jogo-iframe-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 10px;
    background-color: black;
    border-radius: 16px;
}

.jogo-iframe {
    width: 100%;
    height: 700px;
    border: none;
    border-radius: 16px;
}

.fullscreen-btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-family: "lexend";
    font-size: 1rem;
    background-color: white;
    color: color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fullscreen-btn:hover {
    background-color: rgb(255, 163, 255);
}

.pingas {
    color: rgb(44, 44, 44);;
}

.pingas:hover {
    color: rgb(75, 75, 75);    
}

footer {
    margin-top: auto;
    background-color: rgb(71, 71, 71);
    color: rgb(167, 167, 167);
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

footer h2 {
    color: rgb(167, 167, 167);
}

.sessao-footer {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    font-size: 1rem;
}